.selection-display {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;

  &__title {
    color: var(--color-text);
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    word-break: break-all;
  }

  &__button {
    align-self: flex-end;
  }
}
