@if (!treeDataResource.isLoading()) {
  <section class="tree-viewer">
    @for (node of flattenedTreeData(); track node.id) {
      @if (isFolder(node)) {
        <app-tree-folder
          [folder]="node"
          (folderSelect)="onFolderSelect($event)"
          (folderToggle)="onFolderToggle($event)"
        >
        </app-tree-folder>
      } @else {
        <app-tree-item [item]="node" (itemSelect)="onItemSelect($event)">
        </app-tree-item>
      }
    } @empty {
      @if (!treeDataResource.error()) {
        <app-message class="tree-viewer__empty" title="No Data">
          No tree data available.
        </app-message>
      }
    }
  </section>
} @else {
  <app-spinner class="tree-viewer__loading"></app-spinner>
}

@if (treeDataResource.error()) {
  <app-message class="tree-viewer__error" title="Loading Error">
    Oops! Something went wrong. Please try again later.
  </app-message>
}
