.message {
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-light);
  color: var(--color-primary);

  &__title {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;
    color: inherit;
  }
}
