<section
  [class]="`tree-folder tree-folder--level-${folder().level}`"
  [ngClass]="{
    'tree-folder--empty': isEmpty(),
  }"
  (click)="onFolderSelect()"
>
  <app-checkbox
    class="tree-folder__checkbox"
    [id]="folder().id"
    [label]="folder().title"
    [checked]="checkboxState() === TreeCheckboxState.Checked"
    [indeterminate]="checkboxState() === TreeCheckboxState.Indeterminate"
    [classModifier]="'folder'"
    (checkedChange)="onFolderSelect()"
  >
  </app-checkbox>

  @if (!isEmpty()) {
    <app-chevron
      class="tree-folder__toggle"
      [expanded]="folder().expanded"
      (iconClick)="onToggleExpand(); $event.stopPropagation()"
    >
    </app-chevron>
  } @else {
    <p class="tree-folder__message">(empty)</p>
  }
</section>
